@using System.Security.Claims
@{
    string userName = null;
    try
    {
        userName = User.FindFirst(ClaimTypes.Name).Value;
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">Dobrodošli, @userName!</a>

                </li>
                <li>
                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Odjava</button>
                </li>
            </ul>
        </form>
    }
    catch (Exception e)
    {
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-area="" asp-controller="Account" asp-action="Register">Registriraj se!</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Login">Prijavi se!</a></li>
        </ul>

        }

    }
