
@model PasswordViewModel;
@{
    ViewData["Title"] = "Promjena lozinke";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Unesite prvo svoju lozinku za promjenu lozinke.</p>

<form asp-action="Password" method="post">
    <div class="row">
        <div class="form-group col-md-4 " style="margin-left:50px">
            <label>Trenutna lozinka</label>
            <input asp-for="StaraLoz" type="password" class="form-control" />
            <span asp-validation-for="StaraLoz" class="text-danger"></span>
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-md-4 " style="margin-left:50px">
            <label>Nova lozinka</label>
            <input asp-for="NovaLoz" type="password" class="form-control" />
            <span asp-validation-for="NovaLoz" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4 " style="margin-left:50px">
            <label>Ponovite lozinku</label>
            <input asp-for="NovaLozPon" type="password" class="form-control" />
            <span asp-validation-for="NovaLoz" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mb-2" id="send" style="margin-left:50px">Promijeni</button>
</form>

