<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
      <add key="ConnectionString" value="Data Source=LAP-SOPAR;Initial Catalog=Veterinari;User Id=LAP-SOPAR\\Luka;Password=;Trusted_Connection=True" />
  </appSettings>
  
  
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
